<!DOCTYPE HTML>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Real Time Democracy</title>
	<meta name="description" content="Real Time Demcracy">
	<meta name="author" content="CS361 ">

	<link rel="stylesheet" href="style.css">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<section id="main">

		<header id="header">
			<a href="home.html">Real Time Democracy</a>
			<form action="/logout" method="post">
				<input id="form-submit" type="submit" value="Logout">
			</form>
		
		</header>

		<section>


			<h1>Welcome, {{username}}!</h1>

			{{#each issue}}
				{{{this}}}
			{{/each}}


		</section>

		<footer id="footer">
			Real Time Democracy ® 2016
		</footer>
	</section>
</body>
</html>

