<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Real Time Democracy</title>
  <meta name="description" content="Real Time Demcracy">
  <meta name="author" content="CS361 ">

  <link rel="stylesheet" href="style.css">
</head>

<body>

	<header id="header">
		<a>Real Time Democracy</a>
		<form action="/logout" method="post">
			<input id="form-submit" type="submit" value="Logout">
		</form>
    
	</header>
    <h1>Welcome</h1>
    <p>
      User: {{username}}
    </p>
    <h1>My First Issue</h1>
    <h2>Title: {{issue_title}}</h2>
    <p>
      {{issue_description}}
    </p>
  
</body>
</html>
