<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Real Time Democracy</title>
  <meta name="description" content="Real Time Demcracy">
  <meta name="author" content="CS361 ">

  <link rel="stylesheet" href="style.css">
</head>

<body>
<section id="main">

		<h1 id="signuph1">Success! You are Signed up for Real Time Democracy</h1>

		
	</section>
  
</body>
</html>