<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Real Time Democracy</title>
  <meta name="description" content="Real Time Demcracy">
  <meta name="author" content="CS361 ">

  <link rel="stylesheet" href="style.css">
</head>

<body>
<section id="main">

		<h1 id="signuph1">Sign up for Real Time Democracy</h1>

		<form id="signup" action="/signup-test" method="POST">
			
				<input id="signup-test" type="submit" value="Test">
		<form>
	</section>
  
</body>
</html>